*{
    font-family: sans-serif;
}
#container{
    width: 900px;
    margin:  auto;
    border: solid steelblue;
    border-radius: 2px;
    box-shadow: 2px 2px 5px 5px black;
    font-size: 100%;
    margin-right: auto;
    margin-left: auto;
}
#navBar ul {
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
    }
    
#navBar ul li {
    float: left;
    }
    
#navBar ul ul {
    display: none;
    position: absolute;
    top: 100%;
    }
    
#navBar ul li a {
    width: 180px;
    display: inline-flex;
    text-align: center;
    text-decoration: none;
    background-color:steelblue;
    color: white;
    }
    
#navBar ul li a.Home {
    color: black;
    }
    
#navBar ul ul li {
    float: none;
    }
    
#navBar ul li:hover > ul {
    display: block;
    }
    
#navBar>ul:after{
    content: "";
    display: block;
    clear: both;
    }
#navBar ul.subMenu a:hover{
    background: lightsteelblue;
    }
 ul.sideBar{
        float:left;
        margin-top: 20px;
        width: 150px;
        clear: both;
        height: 700px;
        padding: 5px;
    }
a:link{
    color: maroon;
}
a:hover{
    color: steelblue;
}
.logo{
    float: left;
}
header{
    border-bottom: solid steelblue;
    background: linear-gradient(180deg, white 0%, lightsteelblue 100%);
}
.shapeUp{
    color: steelblue;
    font-style: italic;
    text-shadow:  2px 1px steelblue;
}
li{
    line-height: 2em;
}
ul a:link{
    font-weight: bolder;
    color: steelblue;
}
ul a:hover{
    color: maroon;
}
footer{
    background: steelblue;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.sideBar{
    float:left;
    width: 275px;
    height: 700px;
    }
    .sideBar li a{
        text-decoration: none;
    }
    